name: macOS SSH via tmate
on:
  workflow_dispatch:

jobs:
  ssh:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
          detached: true

      - name: Keep Alive
        run: sleep 21600
